.dart_tool/
.packages
.pub-cache/
.pub/
build/
!assets/memory_galaxy/vendor/three/build/
!assets/memory_galaxy/vendor/three/build/three.module.js
android/.gradle/
android/local.properties
*.iml
.idea/
.vscode/
*.jks
*.keystore
.DS_Store
